body, html {
    width:100%;
    height: 100%;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30%
}
table {
    border-spacing: 1px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table tr td{
    min-width: 600px;
    height: 40px;
    text-align: center;
}
.field-label {
    font-weight: bold;
}
.required-label::after {
    content:"*";
    color: red;
}
input:invalid {
    border: 1px solid red;
}
input.black-border:invalid {
    border: 1px solid black;
}
#sort-selection {
    text-align-last: center;
}

.item-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

h2.query-header {
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
}
h2.no-found-header {
    padding: 12px 0;
    text-align: center;
}
.item-container + .item-container {
    margin-top: 4px;
}
.item-category, .item-condition {
    display: flex;
    flex-direction: row;
    height: 16px;
}

.item-category-span::after,.item-condition-span::after {
    content: '\00a0';
}

.item-category-img, .item-top-rated-img {
    object-fit: contain;
    height: 100%;
}

.item-price {
    display: flex;
    flex-direction: row;
}

.item-price-content + .item-ship-from {
    padding-left: 4px;
}

.item-img-container {
    width: 140px;
    text-align: center;
}

.item-img-container img {
    border: 2px solid grey;
    position: relative;
    transform: scale(0.75);
}

.item-img-container img:hover {
    transform: scale(1.5);
}

.item-text-container {
    position: relative;
    flex: 6;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-text-container .item-shipping , .item-text-container .item-seller, .item-text-container .item-price .item-ship-from, .item-text-container .cancel-button {
    display: none;
}

.item-text-container.clicked .item-shipping , .item-text-container.clicked .item-seller, .item-text-container.clicked .item-price .item-ship-from, .item-text-container.clicked .cancel-button {
    display: block;
}

.display-none {
    display: none !important;
}

.item-title {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item-text-container.clicked .item-title {
    white-space: normal;
}
 
.cancel-button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    content: "\274c";
    font-size: 20px; 
    color: #FFF;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.item-list-container .item-container.item-more{
    display:none;
}
.item-list-container.show-more .item-container.item-more{
    display:flex;
}

.item-button-div {
    text-align: center;
}